<div class="all-users-index">
  <h1 class="text-center font-weight-bold p-3 text-success">〜飼主一覧〜</h1>
  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :name_cont, "飼主検索：" %>
      <%= f.text_field :name_cont %>
      <%= f.submit %>
    </div>
  <% end %>
    <% @users.each do |user| %>
      <div class="content-users-index font-weight-bold">
        <div class="user-photo">
          <img src="<%= "/user_images/#{user.image_name}" %>">
        </div>
        <div class="user-name-index">
          飼主：<%= link_to(user.name, user_path(user.id)) %>
        </div>
      </div>
    <% end %>
</div>
