<div class="all-users-show">
  <h1 class="text-center font-weight-bold p-3 text-success">〜マイページ〜</h1><br>
    <div class="user-show-photo">
      <div class="content-users-show font-weight-bold">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <p>飼主： <%= @user.name %><br></p>
        <p>メールアドレス： <%= @user.email %></p>
          <% if @user.id == current_user.id %>
            <div class="users-show-edit">
              <%= link_to("（編集）", edit_user_path) %>
            </div>
          <% end %>
      </div>
    </div>
</div>
  <div class="all-users-show-second">
    <h1>〜マイコメント一覧〜</h1>
  </div>
    <% @user.posts.each do |post| %>
      <div class="content-posts-show font-weight-bold">
        <div class="posts-user-photo">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="posts-user-content">
          <p>飼主：<%= link_to(post.user.name, user_path(post.user.id)) %></p>
          <p>内容：<%= link_to(post.content, post_path(post.id))%></p>
        </div>
      </div>
    <% end %>
