<div class="all-posts-index">
  <h1 class="text-center font-weight-bold p-3 text-success">〜投稿一覧〜</h1>
  <%= search_form_for @search_user do |f| %>
    <div class="field-owner">
      <%= f.label :name_cont, "飼主検索：" %>
      <%= f.text_field :name_cont %>
      <%= f.submit %>
    </div>
  <% end %>

  <%= search_form_for @search_post do |f| %>
    <div class="field-content">
      <%= f.label :content_cont, "内容検索：" %>
      <%= f.text_field :content_cont %>
      <%= f.submit %>
    </div>
  <% end %>


  <% @posts.each do |post|%>
    <div class="content-posts-index font-weight-bold">
      <div class="posts-user-photo">
        <img src="<%= "/user_images/#{post.user.image_name}" %>">
      </div>
      <div class="posts-user-content">
        <p>飼主：<%= link_to(post.user.name, user_path(post.user.id)) %></p>
        <p>内容：<%= link_to(post.content, post_path(post.id))%></p>
      </div>
    </div>
  <% end %>
</div>
