<% if user_signed_in? %>
  <div class="d-flex">
    <div class="font-weight-bold p-3">
      <%= link_to("投稿画面へ", posts_path)%>
    </div>
    <div class="font-weight-bold p-3">
      <%= link_to("新規投稿", new_post_path)%>
    </div>
    <div class="font-weight-bold p-3">
      <%= link_to("飼主一覧", users_path)%>
    </div>
    <div class="font-weight-bold p-3">
      <%= link_to("マイページ", user_path(current_user.id))%>
    </div>
    <div class="font-weight-bold p-3">
      <%= link_to("ログアウト", destroy_user_session_path, method: :delete)%>
    </div>
  </div>

<% else %>
  <div class="d-flex">
    <div class="font-weight-bold p-3">
      <%= link_to("WANCHAT", "/")%>
    </div>

    <div class="font-weight-bold p-3">
      <%= link_to("WANCHATとは", about_path)%>
    </div>

    <div class="font-weight-bold p-3">
      <%= link_to("なぜ作ったのか", check_path)%>
    </div>

    <div class="font-weight-bold p-3">
      <%= link_to("新規飼主",new_user_registration_path, class: 'post')%>
    </div>

    <div class="font-weight-bold p-3">
      <%= link_to("ログイン",new_user_session_path, class: 'post')%>
    </div>
  </div>
<% end %>
